@import '../../core/variables.scss';

.position-selector {
    width: 100%;
    height: 100%;

    > g {
        fill: $selector-fill;
        display: none;
    }

    &:hover {
        & > g {
            display: block;
        }
    }
}
