.project-tab-outer {
    height: 31px;
    background: #FFF;
    overflow: hidden;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: 0;

    &.active {
        z-index: 1;
        height: 32px;
        margin-right: 0;
        margin-left: 0;

        & ~ .project-tab-outer {
            margin-right: 0;
            margin-left: -3px;
        }

        .project-tab-inner {
            border-bottom: 1px solid #FFF;
        }
    }

    &.add {
        width: auto;
        margin-left: -4px;
        min-width: 30px;

        .project-tab-inner {
            line-height: 1;
            padding: 0 8px;

            svg {
                font-size: 0.8em;
                opacity: 0.8;
                margin-top: 6px;
                margin-left: 2px;
            }
        }
    }

    .project-tab-inner {
        height: calc(100% - 4px);
        border: 1px solid #AAA;
        padding: 0 0 0 8px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        cursor: pointer;
        display: flex;

        .tab-text {
            flex-grow: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .tab-close {
            flex-grow: 0;
            background: transparent;
            border: 0;
            font-size: 0.8em;
            opacity: 0.8
        }
    }
}
