.workspace-container {
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, .9);
    @media (max-width: 600px) {
        max-width: 100%;
        margin: 0 !important;
        border-radius: 0;
    }

    .debug-icon-container {
        position: absolute;
        top: -40px;
        right: 0;
        cursor: pointer;
        height: 16px;
        width: 16px;
        
        .debug-icon {
            font-size: 14px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .project-output-container {
        position: absolute;
        top: -32px;
        right: 8px;
        max-width: 600px;
        max-height: 400px;
        overflow-y: auto;
        z-index: 300;
        border: 1px solid #aaa;
        background: rgba(240, 240, 240, 0.9);
        padding: 16px 6px 6px;

        .close-icon-container {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            height: 24px;
            width: 24px;

            .close-icon {
                position: absolute;
                font-size: 14px;
                top: 4px;
                left: 4px;
            }
        }

        .string { color: darkorange; }
        .number { color: green; }
        .boolean { color: blue; }
        .null { color: blue; }
        .key { color: blue; }
    }
}