div.pencil {
    height: 8px;
    width: 4px;
    background: #787878;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 21px;
    top: 1px;
    cursor: pointer;
}

div.pencil:after {
    content: '';
    height: 2px;
    width: 4px;
    background: #787878;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    position: absolute;
    top: -3px;
    left: 0px;
    cursor: pointer;
}

div.pencil:before {
    content: '';
    width: 0px;
    height: 0px;
    border-width: 4px 2px 0 2px;
    border-style: solid;
    border-color: #787878 transparent transparent transparent;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
}

div.pencil:hover, div.pencil:hover::after {
  background: #1ebcc5;
  cursor:pointer;
}

div.pencil:hover::before {
    border-color: #1ebcc5 transparent transparent transparent;
}