table {
	width: 100%;
	border-collapse: collapse;
	/*border: 1px solid black;*/
}

td {
	/*border: 1px solid black;*/
	vertical-align: middle;
	text-align: center;
}

.btClass, table span {
	display: inline-block;
	border: 0;
	width: 100%;
	align-items: center;
}

.tmpl {
	display: none !important;
}