.ws-nav {
    display: table;
    width: 100%;
    height: 100%;
    
    .ws-nav-header {
        display: table-row;
        height: 22px;
    }

    .ws-root-nav {
        display: flex;
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
        overflow: auto;
        margin: 0;
        font-size: 0.9em;
        position: relative;
        border-top: 1px solid #aaa;

        &-list {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            list-style-type: none;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;

            .ws-item {
                width: calc(100%);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: default;

                &-header {
                    padding-left: 0.6em;

                    &:hover {
                        background: #eee;
                    }
                }

                svg {
                    font-size: 0.75em;
                    vertical-align: 0;
                }

                .workspace-name {
                    margin-left: 0.2em;
                }

                &:last-of-type {
                    margin-bottom: 1em;
                }
            }
        }
    }
}
