@import '../../core/variables.scss';

.workspace-nav-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    .ws-project-item {
        position: relative;
        display: flex;

        &-text {
            width: calc(100%);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 2.25em;
        }

        .fa-circle {
            position: absolute;
            top: 8px;
            font-size: 7px !important;
            color: #787878;
            left: 2.75em;
        }

        &.tab-active {
            .ws-project-item-text {
                color: $blue;
            }

            .fa-circle {
                color: $blue;
            }
        }

        &:hover {
            background: $light-hover-color;
        }

        .remove-project {
            background: transparent;
            opacity: 0.65;
            border: 0;
            font-size: 0.9em;
            padding: 0 5px;
            height: 20px;

            svg {
                margin: 0;
                padding: 0;
            }
        }
    }
}
