@import '../../core/variables.scss';

.workspace-nav-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    .ws-project-item {
        width: calc(100%);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;

        &-text {
            padding-left: 2.25em;
        }

        .fa-circle {
            position: absolute;
            top: 8px;
            font-size: 7px !important;
            color: #787878;
            left: 2.75em;
        }

        &.tab-active {
            .ws-project-item-text {
                color: $blue;
            }

            .fa-circle {
                color: $blue;
            }
        }

        &:hover {
            background: $light-hover-color;
        }
    }
}
