.workspace-nav-header {
    position: relative;
    padding-left: 0.6em;
    width: 100%;

    .header-text {
        font-size: 0.9em;
        font-weight: 500;
        cursor: default;
    }

    .header-actions {
        position: absolute;
        top: 0;
        right: 0;

        button {
            background: transparent;
            border: 0;
            font-size: 0.9em;
            opacity: 0.8;
        }
    }
}
