.workspace-nav-header {
    padding-left: 0.6em;
    position: relative;
    display: flex;

    &-text {
        flex: 1;
        cursor: default;
        width: calc(100%);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .header-text {
            font-size: 0.9em;
            font-weight: 500;
        }
    }

    .header-actions {
        button {
            background: transparent;
            border: 0;
            font-size: 0.9em;
            opacity: 0.8;
        }
    }
}
