$body-font-size: 14px;
$input-font-size: 1rem;
$radius: 3px;
$margin-standard: 20px;
$control-height: 38px;

$small-width: 767px;
$xsmall-height: 667px;

$white: #ffffff;
$app-background: $white;
$app-background-secondary: #f3f3f3;
$body-background: #e3e3e3;
$app-text: #333333;
$secondary-text: #777777;
$secondary-border: #656565;

$light-hover-color: #eee;
$border-color: #c9c9c9;
$semi-dark-border-color: #aaa;
$disabled-grey: #ededed;

$default-accent: rgba(0, 0, 0, 0.9);
$light-grey-accent: #e9e9e9;
$red: #FF5E5B;
$facebook-blue: #3b5998;
$blue: rgb(0, 123, 255);

$selector-fill: #B0B0B0;
$opaque-light-gray: rgba(240, 240, 240, 0.9);
$twenty-opaque-white: rgba(255, 255, 255, 0.2);
$twenty-five-opaque-white: rgba(255, 255, 255, 0.25);
$ninety-opaque-white: rgba(255, 255, 255, 0.9);
$forty-opaque-black: rgba(0, 0, 0, 0.4);
