#gid {
    fill: #FF0000;
    display: none;
}

.view-svg {
    &:hover {
        #gid {
            display: block;
        }
    }

    border-right: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
}