.view-svg {
    .gid {
        fill: #B0B0B0;
        display: none;
    
        &.clicked {
            display: block;
        }

        &.hidden {
            display: none;
        }
    }

    &:hover {
        .gid:not(.hidden) {
            display: block;
        }
    }

    border-right: 0.8px solid #B0B0B0;
    border-bottom: 0.8px solid #B0B0B0;
}

.add-container {
    position:relative;
}