$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.close-icon {
    @extend .fa;
    @extend .fa-close;
}

.check-icon {
    @extend .fa;
    @extend .fa-check;
}

label {
    margin-bottom: 0.2rem;
}

.snapgrid {
    width: 100%;
}