.project-tabs-container {
    position: relative;
    height: 100%;

    .project-tabs {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        height: 100%;
        align-items: flex-start;
        padding-left: 3px;
    }
}
