.workspace-container {
    display: table-row;
    width: 100%;
    height: 100%;

    .workspace {
        display: table;
        width: 100%;
        height: 100%;

        .workspace-head {
            display: table-row;
            width: 100%;
            height: 46px;
        }

        .workspace-body {
            border-top: 1px solid #aaa;
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            width: 100%;

            .workspace-nav {
                flex: 1 0 auto;
                width: 178px;
                border-right: 1px solid #aaa;
                position: relative;
            }

            .workspace-editor {
                display: table;
                flex: 1 1 auto;
                height: 100%;
                width: 100%;

                .workspace-tabs {
                    display: table-row;
                    height: 30px;
                    width: 100%;
                }

                .workspace-editor-body { 
                    border-top: 1px solid #aaa;
                    display: flex;
                    flex: 1 1 auto;
                    height: 100%;
                    width: 100%;
                    position: relative;
                }
            }
        }
    }
}
