@import '../core/variables.scss';

.workspace-debug-container {
    position: fixed;
    bottom: 0;
    right: 0;

    .workspace-debug-window {
        max-width: 600px;
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid $semi-dark-border-color;
        background: $opaque-light-gray;
        padding: 6px;
        margin-bottom: 0;
        margin-right: 10px;
        z-index: 100;

        .string { color: darkorange; }
        .number { color: green; }
        .boolean { color: $blue; }
        .null { color: $blue; }
        .key { color: $blue; }
    }

    .workspace-debug-anchor {
        border: 0;
        background: transparent;
        zoom: 0.75;
        float: right;
    }
}