@import './core/variables.scss';

nav {
    z-index: 50;
    border-bottom: 1px solid $semi-dark-border-color;

    .home-anchor {
        color: $blue !important;
    }

    .navbar-toggler {
        border-color: $semi-dark-border-color !important;
    }
}
